<div class="container-fluid">
    <app-page-title title="Horizontal"/>

    <div class="row">
        <div class="col-12">
            <ngb-alert type="info" class="alert-bordered border-start border-info d-flex align-items-start gap-2">
                <ng-icon name="tablerInfoCircle" class="fs-xxl"/>
                <div>
                    To enable the horizontal layout, use
                    <code>LayoutStoreService</code> with
                    <code>setLayoutOrientation('horizontal')</code> or you can directly wrap your page with <code>HorizontalLayoutComponent</code>.
                </div>
            </ngb-alert>
        </div>
    </div>
</div>
