@page "/charts-echart-candlestick"
@model Inspinia.Pages.Charts.Echart.CandlestickModel

@{
    ViewBag.Title = "Candlestick";
    ViewBag.SubTitle = "Echart";
}

@section styles
{
}

<div class="container-fluid">

    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Basic Candlestick Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-basic-candlestick" style="min-height:400px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Mixed Candlestick Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-mixed-candlestick" style="min-height:400px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>

@section scripts
{
 <!-- E Charts js -->
    <script src="~/plugins/echarts/echarts.min.js"></script>

    <!-- E Charts Demo js -->
    <script src="~/js/pages/chart-echart-candlestick.js"></script>
}


