
@{
    ViewBag.Title = "Scatter";
    ViewBag.SubTitle = "Echart";
}

@section styles
{
}


<div class="container-fluid">

    @await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")


    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Scatter Chart</h4>
                </div>
                <div class="card-body">
                    <div id="echart-scatter-basic" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Bubble Chart</h4>
                </div>
                <div class="card-body">
                    <div id="echart-bubble-chart" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Quartet Scatter Chart</h4>
                </div>
                <div class="card-body">
                    <div id="echart-quartet-scatter" style="min-height:600px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Single Axis Scatter chart</h4>
                </div>
                <div class="card-body">
                    <div id="echart-single-axis-scatter" style="min-height:450px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>

@section scripts
{

    <!-- E Charts js -->
    <script src="~/plugins/echarts/echarts.min.js"></script>

    <!-- E Charts Demo js -->
    <script src="~/js/pages/chart-echart-scatter.js"></script>
}

