@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

<div class="container-fluid">
	<PageBreadcrumb Title="Starter Page"/>

	@* content here *@

</div>

@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JsRuntime.InvokeVoidAsync("loadConfig");
			await JsRuntime.InvokeVoidAsync("loadApps");
		}
	}

}