<% @title = "Apex Bubble Charts" %>

    <div class="container-fluid">

        <%= render 'layouts/partials/page_title', sub_title: "Charts",page_title: "Bubble Apexchart" %>

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Simple Bubble Charts</h4>
                    </div>
                    <div class="card-body">
                        <div dir="ltr">
                            <div id="simple-bubble" class="apex-charts"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">3D Bubble Charts</h4>
                    </div>
                    <div class="card-body">
                        <div dir="ltr">
                            <div id="threed-bubble" class="apex-charts"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bubble Charts</h4>
                    </div>
                    <div class="card-body">
                        <div dir="ltr">
                            <div id="three-bubble" class="apex-charts"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-->
        </div>
        <!-- end row-->

    </div>

<% content_for :javascript do %> 
  <%= vite_javascript_tag 'js/pages/chart-apex-bubble.js' %>
<% end %>    