@page "/layouts-horizontal"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

@using Inspinia.Components.Layout
@layout HorizontalLayout

<div class="container-fluid">

    <PageBreadcrumb Title="Horizontal"/>

</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("updateHtmlAttributes", "data-layout", "topnav");
            await JsRuntime.InvokeVoidAsync("updateHtmlAttributes", "data-topbar-color", "dark");
            await JsRuntime.InvokeVoidAsync("updateHtmlAttributes", "data-menu-color", "light");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }

}