
@{
    ViewBag.Title = "OffCanvas Menu";
    ViewBag.HTMLAttributes = "data-sidenav-size=offcanvas";
}

@section styles
{

}

<div class="container-fluid">
    @await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To enable the offcanvas menu, add
                    <code>data-sidenav-size="offcanvas"</code> to the
                    <code>&lt;html&gt;</code> tag.
                </div>
            </div>
        </div>
    </div>

 
</div>

@section scripts
{


}

