
@{
    ViewBag.HTMLAttributes = "data-menu-color=gray";
    ViewBag.Title = "Gray Menu";

}

@section styles
{

}

<div class="container-fluid">
    @await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")


    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To switch to a gray sidebar, add
                    <code>data-menu-color="gray"</code> to the
                    <code>&lt;html&gt;</code> tag in your layout.
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts
{

}

