<div class="container-fluid">
    <app-page-title title="With Lines Menu"/>

    <div class="row">
        <div class="col-12">
            <ngb-alert type="info" class="alert-bordered border-start border-info d-flex align-items-start gap-2">
                <ng-icon name="tablerInfoCircle" class="fs-xxl"/>
                <div>
                    If you want to display a line with each menu item, add the class
                    <code>"sidebar-with-line"</code> to the
                    <code>&lt;html&gt;</code> tag. You can apply this dynamically using the
                    <code>LayoutStoreService</code> with
                    <code>setHtmlAttribute('class', 'sidebar-with-line')</code>.
                </div>
            </ngb-alert>
        </div>
    </div>
</div>
