@page "/layouts-horizontal"

@{
    ViewBag.Title = "Horizontal";
    Layout = "~/Views/Shared/_HorizontalLayout.cshtml";
    ViewBag.HTMLAttributes = "data-topbar-color=dark data-menu-color=light";
}


@section styles
{
   
}

<div class="container-fluid">
    @await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")
</div>

@section scripts
{
 
}

