<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>INSPINIA - Responsive Bootstrap 5 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Inspinia is the #1 best-selling admin dashboard template on WrapBootstrap. Perfect for building CRM, CMS, project management tools, and custom web apps with clean UI, responsive design, and powerful features.">
    <meta name="keywords"
        content="Inspinia, admin dashboard, WrapBootstrap, HTML template, Bootstrap admin, CRM template, CMS template, responsive admin, web app UI, admin theme, best admin template">
    <meta name="author" content="WebAppLayers">

    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <ImportMap />

    <HeadOutlet />

    <!-- Theme Config Js -->
    <script src="/js/config.js"></script>

    <!-- Vendor css -->
    <link href="/css/vendors.min.css" rel="stylesheet" type="text/css">
    
    <!-- App css -->
    <link href="/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <Routes />

    <!-- Vendor js -->
    <script src="/js/vendors.min.js"></script>
    
    <!-- App js -->
    <script src="/js/app.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
