{% load static %}
<!-- Horizontal Menu Start -->
<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="container-fluid">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-dashboards" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-layout-dashboard"></i></span>
                            <span class="menu-text"> Dashboards </span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
                            <a href="/" class="dropdown-item">Dashboard v.1</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='dashboard-2' %}" class="dropdown-item">Dashboard v.2</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='dashboard-3' %}" class="dropdown-item">Dashboard v.3</a>
                            <a href="#!" class="dropdown-item disabled">Dashboard v.4 <span class="badge text-bg-light opacity-50">soon</span></a>
                            <a href="#!" class="dropdown-item disabled">Dashboard v.5 <span class="badge text-bg-light opacity-50">soon</span></a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-apps"></i></span>
                            <span class="menu-text">Apps</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <a href="{% url 'pages:dynamic_pages' template_name='calendar' %}" class="dropdown-item"><i class="ti ti-calendar"></i> Calendar</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='chat' %}" class="dropdown-item"><i class="ti ti-message"></i> Chat</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='file-manager' %}" class="dropdown-item"><i class="ti ti-folder"></i> File Manager</a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-ecommerce" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-basket"></i> Ecommerce <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-products' %}" class="dropdown-item">Products</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-products-grid' %}" class="dropdown-item">Products Grid</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-product-details' %}" class="dropdown-item">Product Details</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-add-product' %}" class="dropdown-item">Add Product</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-categories' %}" class="dropdown-item">Categories</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-orders' %}" class="dropdown-item">Orders</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-order-details' %}" class="dropdown-item">Order Details</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-customers' %}" class="dropdown-item">Customers</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-sellers' %}" class="dropdown-item">Sellers</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-seller-details' %}" class="dropdown-item">Sellers Details</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-reviews' %}" class="dropdown-item">Reviews</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-product-views' %}" class="dropdown-item">Product Views</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ecommerce-sales' %}" class="dropdown-item">Sales</a>
                                </div>
                            </div>

                            <!-- Email Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-email" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-mail"></i> Email <span class="badge text-bg-danger ms-1">New</span> <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-email">
                                    <a href="{% url 'pages:dynamic_pages' template_name='email' %}" class="dropdown-item">Inbox</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='email-details' %}" class="dropdown-item">Details</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='email-compose' %}" class="dropdown-item">Compose</a>
                                </div>
                            </div>

                            <!-- Users Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-users" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-users"></i> Users <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-users">
                                    <a href="{% url 'pages:dynamic_pages' template_name='contacts' %}" class="dropdown-item">Contacts</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='roles' %}" class="dropdown-item">Roles</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='permissions' %}" class="dropdown-item">Permissions</a>
                                </div>
                            </div>

                            <!-- Projects Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-projects" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-briefcase"></i> Projects <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-projects">
                                    <a href="{% url 'pages:dynamic_pages' template_name='projects' %}" class="dropdown-item">My Projects</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='projects-list' %}" class="dropdown-item">Projects List</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='project-details' %}" class="dropdown-item">View Project</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='project-kanban' %}" class="dropdown-item">Kanban Board</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='project-team-board' %}" class="dropdown-item">Team Board</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='project-activity' %}" class="dropdown-item">Activity Stream</a>
                                </div>
                            </div>

                            <!-- Invoice Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-invoice" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-invoice"></i> Invoice <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-invoice">
                                    <a href="{% url 'pages:dynamic_pages' template_name='invoices' %}" class="dropdown-item">Invoices</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='invoice-details' %}" class="dropdown-item">Single Invoice</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='invoice-create' %}" class="dropdown-item">New Invoice</a>
                                </div>
                            </div>

                            <!-- Other Apps Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-otherapps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-circle-dashed-plus"></i> Other Apps <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-otherapps">
                                    <a href="{% url 'pages:dynamic_pages' template_name='companies' %}" class="dropdown-item">Companies</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='clients' %}" class="dropdown-item">Clients</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='outlook' %}" class="dropdown-item">Outlook View</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='vote-list' %}" class="dropdown-item">Vote List</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='issue-tracker' %}" class="dropdown-item">Issue Tracker</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='api-keys' %}" class="dropdown-item">API Keys</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='blog' %}" class="dropdown-item">Blog</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='article' %}" class="dropdown-item">Article</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pin-board' %}" class="dropdown-item">Pin Board</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='forum-view' %}" class="dropdown-item">Forum View</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='forum-post' %}" class="dropdown-item">Forum Post</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-files"></i></span>
                            <span class="menu-text">Pages</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <!-- Pages Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-genr-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-notebook"></i>General Pages <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-genr-pages">
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-profile' %}" class="dropdown-item">Profile</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-faq' %}" class="dropdown-item">FAQ</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-pricing' %}" class="dropdown-item">Pricing</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-empty' %}" class="dropdown-item">Empty Page</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-timeline' %}" class="dropdown-item">Timeline</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-search-results' %}" class="dropdown-item">Search Results</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-coming-soon' %}" class="dropdown-item">Coming Soon</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='pages-terms-conditions' %}" class="dropdown-item">Terms & Conditions</a>
                                </div>
                            </div>

                            <!-- Miscellaneous Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-misc" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-package"></i> Miscellaneous <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-misc">
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-nestable' %}" class="dropdown-item">Nestable List</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-text-diff' %}" class="dropdown-item">Text Diff</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-pdf-viewer' %}" class="dropdown-item">PDF Viewer</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-i18' %}" class="dropdown-item">i18 Support</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-sweet-alerts' %}" class="dropdown-item">Sweet Alerts</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-idle-timer' %}" class="dropdown-item">Idle Timer</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-pass-meter' %}" class="dropdown-item">Password Meter</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-live-favicon' %}" class="dropdown-item">Live Favicon</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-clipboard' %}" class="dropdown-item">Clipboard</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-tree-view' %}" class="dropdown-item">Tree View</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-loading-buttons' %}" class="dropdown-item">Loading Buttons</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-gallery' %}" class="dropdown-item">Gallery</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-masonry' %}" class="dropdown-item">Masonry</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-tour' %}" class="dropdown-item">Tour</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='misc-animation' %}" class="dropdown-item">Animation</a>
                                </div>
                            </div>

                            <!-- Auth Version 1 Dropdown -->
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth-v1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-shield-lock"></i> Authentication 1 <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth-v1">
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-sign-in' %}" class="dropdown-item">Sign In</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-sign-up' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-reset-pass' %}" class="dropdown-item">Reset Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-new-pass' %}" class="dropdown-item">New Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-two-factor' %}" class="dropdown-item">Two Factor</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-lock-screen' %}" class="dropdown-item">Lock Screen</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-success-mail' %}" class="dropdown-item">Success Mail</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-login-pin' %}" class="dropdown-item">Login with PIN</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-delete-account' %}" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth-v2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-user-hexagon"></i> Authentication 2 <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth-v2">
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-sign-in' %}" class="dropdown-item">Sign In</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-sign-up' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-reset-pass' %}" class="dropdown-item">Reset Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-new-pass' %}" class="dropdown-item">New Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-two-factor' %}" class="dropdown-item">Two Factor</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-lock-screen' %}" class="dropdown-item">Lock Screen</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-success-mail' %}" class="dropdown-item">Success Mail</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-login-pin' %}" class="dropdown-item">Login with PIN</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-2-delete-account' %}" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-auth-v3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-lock-access"></i> Authentication 3 <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth-v3">
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-sign-in' %}" class="dropdown-item">Sign In</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-sign-up' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-reset-pass' %}" class="dropdown-item">Reset Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-new-pass' %}" class="dropdown-item">New Password</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-two-factor' %}" class="dropdown-item">Two Factor</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-lock-screen' %}" class="dropdown-item">Lock Screen</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-success-mail' %}" class="dropdown-item">Success Mail</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-login-pin' %}" class="dropdown-item">Login with PIN</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='auth-3-delete-account' %}" class="dropdown-item">Delete Account</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-error" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-alert-hexagon"></i> Error Pages <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-400' %}" class="dropdown-item">400 - Bad Request</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-401' %}" class="dropdown-item">401 - Unauthorized</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-403' %}" class="dropdown-item">403 - Forbidden</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-404' %}" class="dropdown-item">404 - Not Found</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-408' %}" class="dropdown-item">408 - Timeout</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='error-500' %}" class="dropdown-item">500 - Server Error</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='maintenance' %}" class="dropdown-item">Maintenance</a>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-components" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-components"></i></span>
                            <span class="menu-text">Components</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-baseui" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-palette"></i> Base UI One <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-baseui">
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-accordions' %}" class="dropdown-item">Accordions</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-alerts' %}" class="dropdown-item">Alerts</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-images' %}" class="dropdown-item">Images</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-badges' %}" class="dropdown-item">Badges</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-breadcrumb' %}" class="dropdown-item">Breadcrumb</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-buttons' %}" class="dropdown-item">Buttons</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-cards' %}" class="dropdown-item">Cards</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-carousel' %}" class="dropdown-item">Carousel</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-collapse' %}" class="dropdown-item">Collapse</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-colors' %}" class="dropdown-item">Colors</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-dropdowns' %}" class="dropdown-item">Dropdowns</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-videos' %}" class="dropdown-item">Videos</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-grid' %}" class="dropdown-item">Grid Options</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-baseuiTwo" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-palette"></i> Base UI Two<div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-baseuiTwo">
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-links' %}" class="dropdown-item">Links</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-list-group' %}" class="dropdown-item">List Group</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-modals' %}" class="dropdown-item">Modals</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-notifications' %}" class="dropdown-item">Notifications</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-offcanvas' %}" class="dropdown-item">Offcanvas</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-placeholders' %}" class="dropdown-item">Placeholders</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-pagination' %}" class="dropdown-item">Pagination</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-popovers' %}" class="dropdown-item">Popovers</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-progress' %}" class="dropdown-item">Progress</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-scrollspy' %}" class="dropdown-item">Scrollspy</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-spinners' %}" class="dropdown-item">Spinners</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-tabs' %}" class="dropdown-item">Tabs</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-tooltips' %}" class="dropdown-item">Tooltips</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-typography' %}" class="dropdown-item">Typography</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='ui-utilities' %}" class="dropdown-item">Utilities</a>
                                </div>
                            </div>

                            <a href="{% url 'pages:dynamic_pages' template_name='widgets' %}" class="dropdown-item"><i class="ti ti-category"></i> Widgets</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='metrics' %}" class="dropdown-item"><i class="ti ti-chart-histogram"></i> Metrics</a>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-apexcharts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-chart-bar"></i> Apex Charts 1<div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-apexcharts">
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-area' %}" class="dropdown-item">Area</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-bar' %}" class="dropdown-item">Bar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-bubble' %}" class="dropdown-item">Bubble</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-candlestick' %}" class="dropdown-item">Candlestick</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-column' %}" class="dropdown-item">Column</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-heatmap' %}" class="dropdown-item">Heatmap</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-line' %}" class="dropdown-item">Line</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-mixed' %}" class="dropdown-item">Mixed</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-timeline' %}" class="dropdown-item">Timeline</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-boxplot' %}" class="dropdown-item">Boxplot</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-treemap' %}" class="dropdown-item">Treemap</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-apexchartsTwo" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-chart-bar"></i> Apex Charts 2<div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-apexchartsTwo">
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-pie' %}" class="dropdown-item">Pie</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-radar' %}" class="dropdown-item">Radar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-radialbar' %}" class="dropdown-item">RadialBar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-scatter' %}" class="dropdown-item">Scatter</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-polar-area' %}" class="dropdown-item">Polar Area</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-sparklines' %}" class="dropdown-item">Sparklines</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-range' %}" class="dropdown-item">Range</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-funnel' %}" class="dropdown-item">Funnel</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apex-slope' %}" class="dropdown-item">Slope</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apextree' %}" class="dropdown-item">Apex Tree</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-apexsankey' %}" class="dropdown-item">Apex Sankey</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-echarts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-chart-pie"></i> Echarts <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-echarts">
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-line' %}" class="dropdown-item">Line</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-bar' %}" class="dropdown-item">Bar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-pie' %}" class="dropdown-item">Pie</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-scatter' %}" class="dropdown-item">Scatter</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-geo-map' %}" class="dropdown-item">GEO Map</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-gauge' %}" class="dropdown-item">Gauge</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-candlestick' %}" class="dropdown-item">Candlestick</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-area' %}" class="dropdown-item">Area</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-radar' %}" class="dropdown-item">Radar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-heatmap' %}" class="dropdown-item">Heatmap</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='charts-echart-other' %}" class="dropdown-item">Other</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-forms" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-checkup-list"></i> Forms <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-forms">
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-elements' %}" class="dropdown-item">Basic Elements</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-pickers' %}" class="dropdown-item">Pickers</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-select' %}" class="dropdown-item">Select</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-validation' %}" class="dropdown-item">Validation</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-wizard' %}" class="dropdown-item">Wizard</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-fileuploads' %}" class="dropdown-item">File Uploads</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-text-editors' %}" class="dropdown-item">Text Editors</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-range-slider' %}" class="dropdown-item">Range Slider</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-layouts' %}" class="dropdown-item">Layouts</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='form-other-plugins' %}" class="dropdown-item">Other Plugins</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-icons" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-icons"></i> Icons <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-icons">
                                    <a href="{% url 'pages:dynamic_pages' template_name='icons-tabler' %}" class="dropdown-item">Tabler</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='icons-lucide' %}" class="dropdown-item">Lucide</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='icons-flags' %}" class="dropdown-item">Flags</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-maps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-map"></i> Maps <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-maps">
                                    <a href="{% url 'pages:dynamic_pages' template_name='maps-google' %}" class="dropdown-item">Google Maps</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='maps-vector' %}" class="dropdown-item">Vector Maps</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='maps-leaflet' %}" class="dropdown-item">Leaflet Maps</a>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-tables" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-table-column"></i></span>
                            <span class="menu-text">Tables</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-tables">
                            <a href="{% url 'pages:dynamic_pages' template_name='tables-static' %}" class="dropdown-item"><i class="ti ti-border-all"></i> Static Tables</a>
                            <a href="{% url 'pages:dynamic_pages' template_name='tables-custom' %}" class="dropdown-item"><i class="ti ti-stack-forward"></i> Custom Tables</a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-datatables" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-table"></i> DataTables <span class="badge bg-success ms-1">14</span> <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-datatables">
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-basic' %}" class="dropdown-item">Basic</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-export-data' %}" class="dropdown-item">Export Data</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-select' %}" class="dropdown-item">Select</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-ajax' %}" class="dropdown-item">Ajax</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-javascript' %}" class="dropdown-item">Javascript Source</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-rendering' %}" class="dropdown-item">Data Rendering</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-scroll' %}" class="dropdown-item">Scroll</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-columns' %}" class="dropdown-item">Show & Hide Column</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-child-rows' %}" class="dropdown-item">Child Rows</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-column-searching' %}" class="dropdown-item">Column Searching</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-range-search' %}" class="dropdown-item">Range Search</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-fixed-header' %}" class="dropdown-item">Fixed Header</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-add-rows' %}" class="dropdown-item">Add Rows</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='tables-datatables-checkbox-select' %}" class="dropdown-item">Checkbox Select</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-layout"></i></span>
                            <span class="menu-text">Layouts</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts-one" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-layout"></i> Layout Options <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-layouts-one">
                                    <a href="{% url 'pages:dynamic_pages' template_name='layouts-scrollable' %}" class="dropdown-item" target="_blank">Scrollable</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='layouts-compact' %}" class="dropdown-item" target="_blank">Compact</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='layouts-boxed' %}" class="dropdown-item" target="_blank">Boxed</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='layouts-horizontal' %}" class="dropdown-item" target="_blank">Horizontal</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='layouts-preloader' %}" class="dropdown-item" target="_blank">Preloader</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-sidebars" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-layout-sidebar"></i> Sidebars <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-sidebars">
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-light' %}" class="dropdown-item" target="_blank">Light Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-gradient' %}" class="dropdown-item" target="_blank">Gradient Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-image' %}" class="dropdown-item" target="_blank">Image Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-compact' %}" class="dropdown-item" target="_blank">Compact Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-icon-view' %}" class="dropdown-item" target="_blank">Icon View Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-on-hover' %}" class="dropdown-item" target="_blank">On Hover Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-on-hover-active' %}" class="dropdown-item" target="_blank">On Hover Active</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-offcanvas' %}" class="dropdown-item" target="_blank">Offcanvas Menu</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-no-icons' %}" class="dropdown-item" target="_blank">No Icons with Lines</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-with-lines' %}" class="dropdown-item" target="_blank">Sidebar with Lines</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='sidebar-user' %}" class="dropdown-item" target="_blank">With User</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-topbars" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-box-align-top"></i> Topbar <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="topnav-topbars">
                                    <a href="{% url 'pages:dynamic_pages' template_name='topbar-dark' %}" class="dropdown-item" target="_blank">Dark Topbar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='topbar-gray' %}" class="dropdown-item" target="_blank">Gray Topbar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='topbar-gradient' %}" class="dropdown-item" target="_blank">Gradient Topbar</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='topbar-sub-items' %}" class="dropdown-item">Topbar with Sub Items</a>
                                    <a href="{% url 'pages:dynamic_pages' template_name='topbar-tools' %}" class="dropdown-item">Topbar with Tools</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:dynamic_pages' template_name='landing' %}">
                            <span class="menu-icon"><i class="ti ti-rocket"></i></span>
                            <span class="menu-text">Landing</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<!-- Horizontal Menu End -->
