<div class="card">
    <div class="card-header justify-content-between align-items-center border-dashed">
        <h4 class="card-title mb-0">Product Inventory</h4>
        <div class="d-flex gap-2">
            <a routerLink="/ecommerce/product/add" class="btn btn-sm btn-soft-secondary">
                <ng-icon name="tablerPlus" class="me-1"/>
                Add Product
            </a>
            <a routerLink="" class="btn btn-sm btn-primary">
                <ng-icon name="tablerFileExport" class="me-1"/>
                Export CSV
            </a>
        </div>
    </div>

    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-centered table-custom table-sm table-nowrap table-hover mb-0">
                <tbody>
                <tr *ngFor="let product of products">
                    <td>
                        <div class="d-flex align-items-center">
                            <img [src]="product.image" alt="" class="avatar-sm rounded-circle me-2">
                            <div>
                                <h5 class="fs-base my-1"><a [routerLink]="product.url"
                                                            class="text-body">{{ product.name }}</a>
                                </h5>
                                <span class="text-muted fs-xs">{{ product.category }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="text-muted fs-xs">Stock</span>
                        <h5 class="fs-base mt-1 fw-normal">{{ product.stock }} units</h5>
                    </td>
                    <td>
                        <span class="text-muted fs-xs">Price</span>
                        <h5 class="fs-base mt-1 fw-normal">{{ currency }}{{ product.price }}</h5>
                    </td>
                    <td>
                        <span class="text-muted fs-xs">Ratings</span>
                        <h5 class="fs-base mt-1 fw-normal">

                            <span class="text-warning">
                             <app-rating [rate]="product.ratings" [readonly]="true"></app-rating>
                            </span>
                            <span class="ms-1">
                                <a routerLink="/ecommerce/reviews"
                                   class="link-reset fw-semibold">({{ product.reviews }})</a></span>
                        </h5>
                    </td>
                    <td>
                        <span class="text-muted fs-xs">Status</span>
                        <h5 class="fs-base mt-1 fw-normal">
                            <ng-icon name="tablerCircleFill"
                                     [class]="`fs-xs text-${product.variant}`"/>
                            {{ toTitleCase(product.status) }}
                        </h5>
                    </td>
                    <td style="width: 30px;">
                        <div ngbDropdown class="dropdown">
                            <button ngbDropdownToggle
                                    class="dropdown-toggle text-muted drop-arrow-none card-drop p-0 bg-transparent border-0">
                                <ng-icon name="tablerDotsVertical" class="fs-lg"/>
                            </button>
                            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                                <a routerLink="" ngbDropdownItem class="dropdown-item">Edit Product</a>
                                <a routerLink="" ngbDropdownItem class="dropdown-item">Remove</a>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer border-0">
        <div class="align-items-center justify-content-between row text-center text-sm-start">
            <div class="col-sm">
                <span class="text-muted">Showing <span
                    class="fw-semibold">1</span> to <span class="fw-semibold">5</span> of <span
                    class="fw-semibold">10</span> products
                </span>
            </div>
            <div class="col-sm-auto mt-3 mt-sm-0">
                <ul class="pagination pagination-boxed mb-0 justify-content-center">
                    <li class="page-item disabled">
                        <a routerLink="" class="page-link">
                            <ng-icon name="tablerChevronLeft"/>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a routerLink="" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a routerLink="" class="page-link">2</a>
                    </li>
                    <li class="page-item disabled">
                        <a routerLink="" class="page-link">
                            <ng-icon name="tablerChevronRight"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
