<div class="container-fluid">
    <app-page-title title="Light Menu"/>

    <div class="row">
        <div class="col-12">
            <ngb-alert type="info" class="alert-bordered border-start border-info d-flex align-items-start gap-2">
                <ng-icon name="tablerInfoCircle" class="fs-xxl"/>
                <div>
                    To switch to a light sidebar, add
                    <code>data-menu-color="light"</code> to the
                    <code>&lt;html&gt;</code> tag in your layout.
                    You can apply this dynamically using the
                    <code>LayoutStoreService</code> with
                    <code>setSidenavColor('light')</code>.
                </div>
            </ngb-alert>
        </div>
    </div>
</div>
