<div class="topbar-item">
    <div ngbDropdown placement="bottom-right" class="dropdown">
        <button ngbDropdownToggle class="topbar-link dropdown-toggle drop-arrow-none">
            <lucide-icon [img]="Mails" class="fs-xxl"/>
            <span class="badge text-bg-success badge-circle topbar-badge">7</span>
        </button>

        <div ngbDropdownMenu class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg">
            <div class="px-3 py-2 border-bottom">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="m-0 fs-md fw-semibold">Messages</h6>
                    </div>
                    <div class="col text-end">
                        <a href="#!" class="badge badge-soft-success badge-label py-1">09
                            Notifications</a>
                    </div>
                </div>
            </div>

            <ngx-simplebar style="max-height: 300px;">

                <div *ngFor="let message of messages"
                     [id]="message.id"
                     class="dropdown-item notification-item py-2 text-wrap"
                     [class.active]="message.active">

                    <span class="d-flex gap-3">
                      <span class="flex-shrink-0">
                        <img *ngIf="message.user.avatar" [src]="message.user.avatar" class="avatar-md rounded-circle"
                             alt="User Avatar"/>
                        <span *ngIf="!message.user.avatar" class="avatar-title rounded-circle fs-22"
                              [ngClass]="message.user.bgClass">
                               <lucide-icon [img]="message.user.icon" class="fs-22 fill-white"/>
                        </span>
                      </span>

                      <span class="flex-grow-1 text-muted">
                        <span class="fw-medium text-body">{{ message.user.name }}</span> {{ message.action }}
                          <span class="fw-medium text-body">{{ message.context }}</span><br>
                        <span class="fs-xs">{{ message.timestamp }}</span>
                      </span>

                      <button class="flex-shrink-0 text-muted btn btn-link p-0">
                          <ng-icon name="tablerXboxX" class="fs-xxl"/>
                      </button>
                    </span>

                </div>

            </ngx-simplebar>

            <a href="javascript:void(0);"
               class="dropdown-item text-center text-reset text-decoration-underline link-offset-2 fw-bold notify-item border-top border-light py-2">
                Read All Messages
            </a>

        </div>
    </div>
</div>
