@page "/auth-3-delete-account"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

@using Inspinia.Components.Layout
@layout BaseLayout

<div class="auth-box p-0 w-100">
    <div class="row w-100 g-0">
        <div class="col">
            <div class="h-100 position-relative card-side-img rounded-0 overflow-hidden">
                <div class="p-4 card-img-overlay auth-overlay d-flex align-items-end justify-content-center">
                </div>
            </div>
        </div>

        <div class="col-xl-auto">
            <!--Auth Box content -->
            <div class="card auth-box-form border-0 mb-0">
                <div class="card-body min-vh-100 d-flex flex-column justify-content-center">
                    <div class="auth-brand text-center">
                        <a href="/" class="logo-dark">
                            <img src="/images/logo-black.png" alt="dark logo" height="32">
                        </a>
                        <a href="/" class="logo-light">
                            <img src="/images/logo.png" alt="logo" height="32">
                        </a>
                    </div>

                    <div class="mt-auto text-center">
                        <div class="mb-4">
                            <div class="avatar-xxl mx-auto mt-2">
                                <div
                                    class="avatar-title bg-light-subtle border border-light border-dashed rounded-circle">
                                    <img src="/images/delete.png" alt="dark logo" height="64">
                                </div>
                            </div>
                        </div>

                        <h4 class="fw-bold text-center mb-3">Account Deactivated</h4>
                        <p class="text-muted text-center mb-4">Your account is currently inactive. Reactivate now to
                            regain access to all features and opportunities.</p>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary fw-semibold py-2">Reactivate Now</button>
                        </div>
                    </div>

                    <p class="text-center text-muted mt-auto mb-0">
                        © 2014 - @FullYear Inspinia By <span class="fw-semibold">WebAppLayers</span>
                    </p>
                </div>
            </div>
            <!-- End Auth Box Content -->
        </div>
    </div>
</div>

@code {
    public string FullYear = DateTime.Now.Year.ToString();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}