@page "/charts-echart-area"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

<div class="container-fluid">

    <PageBreadcrumb Title="Area Echart" SubTitle="Charts" />

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Area Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-line" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Stacked Area Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-line-stacked" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Area with Marker</h4>
                </div>
                <div class="card-body">
                    <div id="chart-line-marker" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Dynamic Area</h4>
                </div>
                <div class="card-body">
                    <div id="chart-dynamic-line" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Step Area</h4>
                </div>
                <div class="card-body">
                    <div id="chart-step-line" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- container -->

@code {
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/pages/chart-echart-area.js");
            await JsRuntime.InvokeVoidAsync("loadEchartsArea");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}