@page "/charts-echart-candlestick"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

<div class="container-fluid">

    <PageBreadcrumb Title="Bar Echart" SubTitle="Charts" />

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Basic Candlestick Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-basic-candlestick" style="min-height:400px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Mixed Candlestick Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-mixed-candlestick" style="min-height:400px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- container -->

@code {
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/pages/chart-echart-candlestick.js");
            await JsRuntime.InvokeVoidAsync("loadEchartsCandlestick");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}