@page "/charts-echart-radar"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

<div class="container-fluid">

    <PageBreadcrumb Title="Radar Echart" SubTitle="Charts" />

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Basic Radar Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-basic-radar" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Proportion of Browsers</h4>
                </div>
                <div class="card-body">
                    <div id="chart-radar1" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Customized Radar Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-radar2" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Multiple Radar Chart</h4>
                </div>
                <div class="card-body">
                    <div id="chart-radar3" style="min-height:300px"></div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->


</div>
<!-- container -->

@code {
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/pages/chart-echart-radar.js");
            await JsRuntime.InvokeVoidAsync("loadEchartsRadar");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}