{% extends 'layouts/vertical.html.twig' %}

{% set html_attribute = 'data-sidenav-size=full' %}

{% set title = 'Offcanvas Menu' %}

{% block css %}{% endblock %}

{% block content %}

{{ include('partials/page-title.html.twig', {'title': 'Offcanvas Menu'}) }}

<div class="row">
    <div class="col-12">
        <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
            <i class="ti ti-info-circle fs-xxl"></i>
            <div>
                To enable the offcanvas menu, add
                <code>data-sidenav-size="full"</code> to the
                <code>&lt;html&gt;</code> tag.
            </div>
        </div>
    </div>
</div>

{% endblock %}