{% extends 'layouts/vertical.html.twig' %}

{% set html_attribute = 'data-sidenav-size=compact' %}

{% set title = 'Compact Sidebar' %}

{% block css %}{% endblock %}

{% block content %}

{{ include('partials/page-title.html.twig', {'title': 'Compact Sidebar'}) }}

<div class="row">
    <div class="col-12">
        <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
            <i class="ti ti-info-circle fs-xxl"></i>
            <div>
                To enable the medium-sized (compact) sidebar, add
                <code>data-sidenav-size="compact"</code> to the
                <code>&lt;html&gt;</code> tag.
            </div>
        </div>
    </div>
</div>

{% endblock %}