{% extends 'layouts/vertical.html.twig' %}

{% set html_attribute = 'data-skin=modern' %}

{% set title = 'Modern Skin' %}

{% block css %}{% endblock %}

{% block content %}

{{ include('partials/page-title.html.twig', {'title': 'Modern Skin'}) }}

<div class="row">
    <div class="col-12">
        <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-center gap-2 mb-3">
            <i class="ti ti-info-circle fs-20"></i>
            <div>
                Set <code>data-skin="modern"</code> in the <code>&lt;html&gt;</code> tag to use the Modern theme.
            </div>
        </div>
    </div>
</div>

{% endblock %}