<% @title="Preloader Layout" %>

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="container-fluid">

        <%= render 'layouts/partials/page_title', page_title: "Preloader" %>

    </div>
    <!-- container -->