<html data-skin="minimal" data-menu-color="gray" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/vertical}">

<head>

    <th:block layout:fragment="page-meta" th:replace="~{partials/page-meta :: page-meta('Minimal Skin')}" />

</head>

<body>
    <th:block layout:fragment="content">

        <div class="container-fluid">

            <th:block th:replace="~{partials/page-title :: page-title('Minimal Skin',null)}" />

            <div class="row">
                <div class="col-12">
                    <div
                        class="alert alert-info alert-bordered border-start border-info d-flex align-items-center gap-2 mb-3">
                        <i class="ti ti-info-circle fs-20"></i>
                        <div>
                            Set <code>data-skin="minimal"</code> in the <code>&lt;html&gt;</code> tag to use the Minimal
                            theme.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </th:block>

</body>

</html>