<section class="section-custom bg-light bg-opacity-30 border-top border-bottom border-light" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="text-muted rounded-3 d-inline-block">📝 Insights & Resources</span>
                <h2 class="mt-3 fw-bold mb-5">Explore Our <mark class="fst-italic">Latest</mark> Articles and Updates
                </h2>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-lg-4" *ngFor="let blog of blogs">
                <app-blog-card [blog]="blog"/>
            </div>
        </div>
    </div>
</section>