{% extends 'layouts/vertical.html' %}

{% load static i18n %}

{% block html_attribute %}data-skin="flat"{% endblock html_attribute %}

{% block title %}Flat Skin{% endblock title %}

{% block page_content %}

<div class="container-fluid">

  {% include 'partials/page-title.html' with title='Flat Skin' %}

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-center gap-2 mb-3">
        <i class="ti ti-info-circle fs-20"></i>
        <div>
          Set <code>data-skin="flat"</code> in the <code>&lt;html&gt;</code> tag to use the Flat theme.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container -->

{% endblock page_content %}




