{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Account Inactive{% endblock title%}

{% block body_attribute %}class="authentication-bg"{% endblock body_attribute %}

{% block content %}

<div class="auth-box overflow-hidden align-items-center d-flex">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-md-6 col-sm-8">
        <div class="auth-brand text-center mb-4">
          <div class="row align-items-center g-0 p-5">
            <h1>Account Inactive</h1>
            <p>This account is inactive.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock content %}

