{% extends 'base.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}

{% block body_attribute %}class="authentication-bg"{% endblock body_attribute %}

{% block content %}
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="card auth-card">
          <div class="card-body p-0">
            <div class="row align-items-center g-0">
              <div class="col-lg-6 d-none d-lg-inline-block border-end">
                <div class="auth-page-sidebar">
                  <img src="{% static '/images/sign-in.svg' %}" alt="auth" class="img-fluid"/>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-4">
                  <div class="mx-auto mb-4 text-center auth-logo">
                    <a href="/" class="logo-dark">
                      <img src="{% static '/images/logo-sm.png' %}" height="30" class="me-1"
                           alt="logo sm"/>
                      <img src="{% static '/images/logo-dark.png' %}" height="24" alt="logo dark"/>
                    </a>

                    <a href="/" class="logo-light">
                      <img src="{% static '/images/logo-sm.png' %}" height="30" class="me-1"
                           alt="logo sm"/>
                      <img src="{% static '/images/logo-light.png' %}" height="24" alt="logo light"/>
                    </a>
                  </div>
                  <h2 class="fw-bold text-center fs-18">
                    Reset Password
                  </h2>
                  <p class="text-muted text-center mt-1 mb-4">
                    Enter your email address and
                    we'll send you an email with
                    instructions to reset your
                    password.
                  </p>

                  <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                      {% if user.is_authenticated %}
                      {% include "account/snippets/already_logged_in.html" %}
                      {% endif %}

                      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" novalidate>

                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mb-0 mt-2 text-center">
                          <button class="btn btn-primary" type="submit">{% trans 'Reset Password' %}</button>
                        </div>
                      </form>
                    </div>

                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>


        <p class="text-white mb-0 text-center">
          Back to
          <a href="{% url 'account_login' %}" class="text-white fw-bold ms-1">Sign In</a>
        </p>
      </div>

    </div>

  </div>
</div>
{% endblock content %}
