{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Sign Up Closed{% endblock title%}

{% block body_attribute %}class="authentication-bg"{% endblock body_attribute %}

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="card auth-card">
          <div class="card-body p-0">
            <div class="row align-items-center g-0 p-5">

              <h1>Sign Up Closed</h1>

              <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
