{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Verify Your E-mail Address{% endblock title%}

{% block body_attribute %}class="authentication-bg"{% endblock body_attribute %}

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="card auth-card">
          <div class="card-body p-0">
            <div class="row align-items-center g-0 p-5">

              <h1>{% trans "Verify Your E-mail Address" %}</h1>

              {% url 'account_email' as email_url %}

              <p>This part of the site requires us to verify that
                you are who you claim to be. For this purpose, we require that you
                verify ownership of your e-mail address. </p>

              <p>We have sent an e-mail to you for
                verification. Please click on the link inside this e-mail. Please
                contact us if you do not receive it within a few minutes.</p>

              <p><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
