{% extends 'layouts/vertical.html' %}

{% block html_attribute %}data-menu-color="light"{% endblock html_attribute %}

{% block title %}Light Menu{% endblock title %}

{% block page_content %}

<div class="container-fluid">

    {% set title='Light Menu' %}
    {% include 'partials/page-title.html' %}

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To switch to a light sidebar, add
                    <code>data-menu-color="light"</code> to the
                    <code>&lt;html&gt;</code> tag in your layout.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock page_content %}

