{% extends 'layouts/vertical.html' %}

{% block html_attribute %}data-sidenav-size="compact"{% endblock html_attribute %}

{% block title %}Compact Sidebar{% endblock title %}

{% block page_content %}

<div class="container-fluid">

    {% set title='Compact Sidebar' %}
    {% include 'partials/page-title.html' %}

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To enable the medium-sized (compact) sidebar, add
                    <code>data-sidenav-size="compact"</code> to the
                    <code>&lt;html&gt;</code> tag.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->

{% endblock page_content %}

{% block extra_javascript %}{% endblock extra_javascript %}
