{% extends 'layouts/vertical.html' %}

{% block title %}Classic Skin{% endblock title %}

{% block page_content %}

<div class="container-fluid">

    {% set title='Classic Skin' %}
    {% include 'partials/page-title.html' %}

    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary alert-bordered border-start border-primary d-flex align-items-center gap-2 mb-3">
                <i class="ti ti-info-circle fs-20"></i>
                <div class="fw-bold text-decoration-underline">
                    INSPINIA comes with the Classic Theme set as the Default.
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock page_content %}

