{% extends 'layouts/vertical.html' %}

{% load static i18n %}

{% block title %}Echart Line Chart{% endblock title %}

{% block page_content %}

<div class="container-fluid">

  {% include 'partials/page-title.html' with title='Line Echart' subtitle='Charts' %}

  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Line Chart</h4>
        </div>
        <div class="card-body">
          <div id="chart-line" style="min-height:300px"></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Line Stacked Chart</h4>
        </div>
        <div class="card-body">
          <div id="chart-line-stacked" style="min-height:300px"></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Line Marker</h4>
        </div>
        <div class="card-body">
          <div id="chart-line-marker" style="min-height:300px"></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Dynamic Line</h4>
        </div>
        <div class="card-body">
          <div id="chart-dynamic-line" style="min-height:300px"></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Step Line</h4>
        </div>
        <div class="card-body">
          <div id="chart-step-line" style="min-height:300px"></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Line Y Category</h4>
        </div>
        <div class="card-body">
          <div id="chart-line-y-category" style="min-height:300px"></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- container -->

{% endblock page_content %}

{% block extra_javascript %}

<!-- E Charts js -->
<script src="{% static 'plugins/echarts/echarts.min.js' %}"></script>

<!-- E Charts Demo js -->
<script src="{% static 'js/pages/chart-echart-line.js' %}"></script>

{% endblock extra_javascript %}
