{% extends 'layouts/vertical.html' %}

{% load static i18n %}

{% block title %}Data Rendering Datatables{% endblock title %}

{% block extra_css %}

<!-- Datatables css -->
<link href="{% static 'plugins/datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% include 'partials/page-title.html' with title='Data Rendering' subtitle='Datatables' %}

{% block page_content %}

<div class="container-fluid">

  @@include("./partials/page-title.html", {"subtitle": "Datatables", "title":"Data Rendering"})

  <div class="row justify-content-center">
    <div class="col-xxl-10">
      <div class="card">
        <div class="card-header justify-content-between">
          <h4 class="card-title"> Example </h4>
          <a href="https://datatables.net/examples/basic_init/data_rendering.html" target="_blank"
             class="icon-link icon-link-hover link-primary fw-semibold">View Docs <i
            class="ti ti-arrow-right bi align-middle fs-lg"></i></a>
        </div>

        <div class="card-body">
          <table id="datatable-rendering" class="table table-striped dt-responsive align-middle mb-0">
            <thead class="thead-sm text-uppercase fs-xxs">
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Progress</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
            </thead>
          </table>
        </div> <!-- end card-body-->
      </div> <!-- end card-->
    </div>
  </div>
</div>
<!-- container -->

{% endblock page_content %}

{% block extra_javascript %}

<!-- Datatables js -->
<script src="{% static 'plugins/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables/responsive.bootstrap5.min.js' %}"></script>
<!-- Page js -->
<script src="{% static 'js/pages/datatables-rendering.js' %}"></script>

{% endblock extra_javascript %}

