
@{
    ViewBag.Title = "Starter";
    ViewBag.SubTitle = "Pages";
}

@section styles
{
}
<div class="container-fluid">

    @await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")


</div>

@section scripts
{
}



 