<% @title = "Gradient Menu" %>

<% @html_attributes = "data-menu-color=gradient" %>

        <div class="container-fluid">

            <%= render 'layouts/partials/page_title', page_title: "Gradient" %>

            <div class="row">
                <div class="col-12">
                    <div
                        class="alert alert-warning alert-bordered border-start border-warning d-flex align-items-start gap-2">
                        <i class="ti ti-info-circle fs-xxl"></i>
                        <div>
                            To enable a gradient sidebar style, add
                            <code>data-menu-color="gradient"</code> to the
                            <code>&lt;html&gt;</code> tag in your layout.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- container -->

