<app-ui-card title="Transactions Worldwide" [isCloseable]="true" [isTogglable]="true"
             [isReloadable]="true">
    <div card-body class="row align-items-center">
        <div class="col-xl-6">
            <div class="table-responsive">
                <table class="table table-custom table-nowrap table-hover table-centered mb-0">
                    <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                    <tr class="text-uppercase fs-xxs">
                        <th class="text-muted">Tran. No.</th>
                        <th class="text-muted">Order</th>
                        <th class="text-muted">Date</th>
                        <th class="text-muted">Amount</th>
                        <th class="text-muted">Status</th>
                        <th class="text-muted">Payment Method</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td><a routerLink="" class="link-reset fw-semibold">{{ transaction.id }}</a></td>
                        <td>{{ transaction.order }}</td>
                        <td>{{ transaction.date }} <small class="text-muted">{{ transaction.time }}</small></td>
                        <td class="fw-semibold">{{ currency }}{{ transaction.amount }}</td>
                        <td>
                                <span class="badge fs-xxs" [class]="`badge-soft-${transaction.variant}`">
                                    <ng-icon name="tablerPointFill"/>
                                    {{ toTitleCase(transaction.status) }}
                                </span>
                        </td>
                        <td>
                            <img [src]="`assets/images/cards/${transaction.paymentMethod}.svg`" alt="" class="me-2"
                                 height="28"> xxxx {{ transaction.lastFour }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center my-3">
                <a routerLink="" class="link-reset text-decoration-underline fw-semibold link-offset-3">
                    View All Transactions
                    <ng-icon name="tablerSend2"/>
                </a>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="w-100 mt-4 mt-xl-0">
                <app-vector-map [options]="worldTransactionMapOptions" height="297px"/>
            </div>
        </div>
    </div>
</app-ui-card>
