@page "/auth-2-login-pin"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

@using Inspinia.Components.Layout
@layout BaseLayout

<div class="auth-box d-flex align-items-center">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10">
                <div class="card rounded-4">
                    <div class="row justify-content-between g-0">
                        <div class="col-lg-6">
                            <div class="card-body">
                                <div class="auth-brand text-center mb-4">
                                    <a href="/" class="logo-dark">
                                        <img src="/images/logo-black.png" alt="dark logo" height="32">
                                    </a>
                                    <a href="/" class="logo-light">
                                        <img src="/images/logo.png" alt="logo" height="32">
                                    </a>
                                    <h4 class="fw-bold mt-4">Welcome to IN+</h4>
                                    <p class="text-muted w-lg-75 mx-auto">This screen is locked. Enter your PIN to
                                        continue.</p>
                                </div>

                                <div class="text-center mb-4">
                                    <img src="/images/users/user-1.jpg"
                                        class="rounded-circle img-thumbnail avatar-xxl mb-2" alt="thumbnail">
                                    <h5 class="fs-md">Damian D.</h5>
                                </div>

                                <form>
                                    <label class="form-label">Enter your 6-digit code <span
                                            class="text-danger">*</span></label>
                                    <div class="d-flex gap-2 mb-3 two-factor">
                                        <input type="text" class="form-control text-center" required>
                                        <input type="text" class="form-control text-center" required>
                                        <input type="text" class="form-control text-center" required>
                                        <input type="text" class="form-control text-center" required>
                                        <input type="text" class="form-control text-center" required>
                                        <input type="text" class="form-control text-center" required>
                                    </div>

                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary fw-semibold py-2">Confirm</button>
                                    </div>
                                </form>

                                <p class="text-muted text-center mt-4 mb-0">
                                    Not you? Return to <a href="auth-2-sign-in"
                                        class="text-decoration-underline link-offset-3 fw-semibold">Sign in</a>
                                </p>

                                <p class="text-center text-muted mt-4 mb-0">
                                    © 2014 - @FullYear Inspinia By <span class="fw-semibold">WebAppLayers</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-block">
                            <div
                                class="h-100 position-relative card-side-img rounded-end-4 rounded-end rounded-0 overflow-hidden">
                                <div
                                    class="p-4 card-img-overlay rounded-4 rounded-start-0 auth-overlay d-flex align-items-end justify-content-center">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string FullYear = DateTime.Now.Year.ToString();
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/pages/auth-two-factor.js");
            await JsRuntime.InvokeVoidAsync("loadTwoFactor");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}