@page "/sidebar-offcanvas"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

<div class="container-fluid">

    <PageBreadcrumb Title="Offcanvas Menu"/>

    <div class="row">
        <div class="col-12">
            <div
                class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To enable the offcanvas menu, add
                    <code>data-sidenav-size="offcanvas"</code> to the
                    <code>&lt;html&gt;</code> tag.
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- container -->

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("updateHtmlAttributes", "data-sidenav-size", "offcanvas");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }

}