<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vertical}">

<head>

    <th:block layout:fragment="page-meta" th:replace="~{partials/page-meta :: page-meta('ApexTree Apexcharts')}" />

</head>

<body>
    <th:block layout:fragment="content">

        <div class="container-fluid">

            <th:block th:replace="~{partials/page-title :: page-title('ApexTree','Charts')}" />

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Right to left</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="right-to-left" style="margin: 0 auto;"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bottom</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="bottom-tree" style="margin: 0 auto;"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Top to bottom</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="top-tree" style="margin: 0 auto;"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Collapse Expand</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="collapse-expand" style="margin: 0 auto;"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->

        </div>

    </th:block>

    <th:block layout:fragment="javascripts">

        <!-- Apex Chart js -->
        <script src="/plugins/charts/apextree/charts/apextree.min.js"></script>

        <!-- Apex Chart Heatmap Demo js -->
        <script src="/js/pages/chart-apextree.js"></script>

    </th:block>

</body>

</html>