@page "/charts-apex-heatmap"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;

<div class="container-fluid">

    <PageBreadcrumb Title="Heatmap Apexchart" SubTitle="Charts" />

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Heatmap - Single Series</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="basic-heatmap" class="apex-charts"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Multiple Series</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="multiple-series-heatmap" class="apex-charts"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Heatmap - Color Range</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="color-range-heatmap" class="apex-charts"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Heatmap - Range without Shades</h4>
                </div>

                <div class="card-body">
                    <div dir="ltr">
                        <div id="rounded-heatmap" class="apex-charts"></div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->

</div>
<!-- container -->

@code {
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/pages/chart-apex-heatmap.js");
            await JsRuntime.InvokeVoidAsync("loadChartsApexHeatmap");
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }
}