@page "/pages-empty"
@model Inspinia.Pages.Pages.EmptyModel

@{
    ViewBag.Title = "Starter";
    ViewBag.SubTitle = "Pages";
}

@section styles
{
}
<div class="container-fluid">

    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")


</div>

@section scripts
{
}



 