<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="page-title(title,subtitle)">
    <div class="page-title-head d-flex align-items-center">
        <div class="flex-grow-1">
            <h4 class="fs-sm text-uppercase fw-bold m-0" th:text="${title}"></h4>
        </div>

        <div class="text-end">
            <ol class="breadcrumb m-0 py-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Inspinia</a></li>

                <li class="breadcrumb-item" th:if="${subtitle != null}">
                    <a href="javascript: void(0);" th:text="${subtitle}"></a>
                </li>

                <li class="breadcrumb-item active" th:text="${title}"></li>
            </ol>
        </div>
    </div>
</th:block>
</html>