<div class="container-fluid">
    <app-page-title title="Compact"/>
</div>

<div class="container-xl">
    <div class="row">
        <div class="col-12">
            <ngb-alert type="info" class="alert-bordered border-start border-info d-flex align-items-start gap-2">
                <ng-icon name="tablerInfoCircle" class="fs-xxl"/>
                <div>
                    To use the compact layout, follow this structure: wrap your page title in
                    <code>&lt;div class="container-fluid"&gt;</code> and place your main content inside
                    <code>&lt;div class="container-xl"&gt;</code>. This ensures proper spacing and alignment.
                </div>
            </ngb-alert>
        </div>
    </div>
</div>
