@page "/skin-modern"
@model Inspinia.Pages.Layouts.Skin.ModernModel

@{
    ViewBag.Title = "Modern Skin";
    ViewBag.HTMLAttributes = "data-skin=modern";
}

@section styles
{
}

<div class="container-fluid">

    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-center gap-2 mb-3">
                <i class="ti ti-info-circle fs-20"></i>
                <div>
                    Set <code>data-skin="modern"</code> in the <code>&lt;html&gt;</code> tag to use the Modern theme.
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
}