@page "/layouts-boxed"
@model Inspinia.Pages.Layouts.BoxedModel

@{
    ViewBag.Title = "Boxed";
    ViewBag.HTMLAttributes = "data-layout-width=boxed data-sidenav-size=on-hover";
}

@section styles
{

}

<div class="container-fluid">
    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")


    <div class="row">
        <div class="col-12">
            <div class="alert alert-info alert-bordered border-start border-info d-flex align-items-start gap-2">
                <i class="ti ti-info-circle fs-xxl"></i>
                <div>
                    To enable the boxed layout, add
                    <code>data-layout-width="boxed"</code> to the
                    <code>&lt;html&gt;</code> tag. For optimal spacing and usability, we also recommend adding
                    <code>data-sidenav-size="on-hover"</code> to make the sidebar compact while keeping more room for content.
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

}