@page "/layouts-preloader"
@model Inspinia.Pages.Layouts.PreloaderModel

@{
    ViewBag.Title = "Preloader";
}

@section styles
{
}

<!-- Preloader -->
<div id="preloader">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div class="container-fluid">

    @await Html.PartialAsync("~/Pages/Shared/Partials/_PageTitle.cshtml")

</div>

@section scripts
{
   
}



